create database faizaneraza
USE [faizaneraza]
GO
/****** Object:  Table [dbo].[st_r]    Script Date: 12/18/2017 1:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[st_r](
	[id] [int] NULL,
	[name] [varchar](100) NULL,
	[fname] [varchar](100) NULL,
	[dob] [varchar](100) NULL,
	[con] [varchar](100) NULL,
	[addr] [varchar](300) NULL,
	[prof] [varchar](100) NULL,
	[qua] [varchar](100) NULL,
	[pm] [varchar](100) NULL,
	[sh] [varchar](100) NULL,
	[nw] [varchar](100) NULL,
	[ex] [varchar](100) NULL,
	[ac] [varchar](100) NULL,
	[ad] [varchar](100) NULL,
	[img] [varchar](100) NULL,
	[email][varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
